/* :root {
  --theme-color-main: #448d76;
  --theme-color-light: #e7f7d4;
  --theme-color-dark: #2b5a4b;
} */

.ai-c {
  align-items: center;
}
.bd-b-5-s {
  border-bottom: 5px solid;
}

.bd-n {
  border: none;
}
.bds-o {
  border-style: outset;
}
.bdrs-5 {
  border-radius: 5%;
}
.bdrs-50 {
  border-radius: 50%;
}
.bdrs-5px {
  border-radius: 5px;
}
.bdm-10 {
  bottom: 10px;
}
.bgc-ltorange-hv:hover {
  background-color: rgb(255, 176, 86);
}

.bgc-shadow-hv:hover {
  -moz-box-shadow: 0 0 20px rgb(255, 255, 255);
  -webkit-box-shadow: 0 0 20px rgb(255, 255, 255);
  box-shadow: 0 0 20px rgb(255, 255, 255);
}

.bgc-cadet {
  background-color: cadetblue;
}

.bgc-deeaee {
  background-color: #deeaee;
}
.bgc-D4EDF7 {
  background-color: #d4edf7;
}
.bgc-6f9fd8 {
  background-color: #6f9fd8;
}
.bgc-001f3f {
  background-color: #001f3f;
}

.bgc-dark-blue {
  background-color: #6f9fd8;
}
.bgc-dark-green {
  background-color: #2b5a4b;
}
.bgc-dark-purple {
  background-color: #700cbc;
}
.bgc-dark-red {
  background-color: #d71421;
}

.bgc-gainsboro {
  background-color: gainsboro;
}
.bgc-lav {
  background-color: lavender;
}
.bgc-light-blue {
  background-color: #d4edf7;
}
.bgc-light-green {
  background-color: #e7f7d4;
}
.bgc-light-purple {
  background-color: #e1d4f7;
}
.bgc-light-red {
  background-color: #f7d4d6;
}
.bgc-main-green {
  background-color: #448d76;
}
.bgc-mandarin {
  background-color: rgb(239, 175, 47);
}
.bgc-orange {
  background-color: rgb(255, 136, 0);
}
.bgc-pink {
  background: #e87;
}
.bgc-trnsorange {
  background-color: rgb(255, 115, 0, 0.6);
}
.bgc-trnsrust {
  background-color: rgb(193, 80, 46, 0.7);
}
.bgc-turq {
  background: #41b3a3;
}

.bgc-var-drk {
  background-color: var(--theme-color-dark);
}
.bgc-var-lgt {
  background-color: var(--theme-color-light);
}
.bgc-var-main {
  background-color: var(--theme-color-main);
}
.bxsh-0-5-15-0 {
  box-shadow: 0px 5px 15px 0px;
}
.bgc-white {
  background: white;
}
.c-white {
  color: #dfdce3;
}
.cur-p {
  cursor: pointer;
}
.c-blue {
  color: #0074d9;
}
.c-white {
  color: whitesmoke;
}

.d-f {
  display: flex;
}
.d-ib {
  display: inline-block;
}
.fa-save {
  color: dodgerblue;
}
.fa-save:active {
  color: rgb(117, 116, 116);
}

.ff-turrent {
  font-family: 'Turret Road', cursive;
}

.ff-montserrat {
  font-family: 'Montserrat', sans-serif;
}

.ff-nunito {
  font-family: 'Nunito', sans-serif;
}

.ff-quicksand {
  font-family: 'Quicksand', sans-serif;
}

.ff-robotoMono {
  font-family: 'Roboto Mono', monospace;
}
.ff-slabo {
  font-family: 'Slabo 27px', serif;
}
.ff-solway {
  font-family: 'Solway', serif;
}
.fl-start {
  float: left;
}
.fld-c {
  flex-direction: column;
}

.flgw-1 {
  flex-grow: 1;
}
.flw-w {
  flex-wrap: wrap;
}
.fw-b {
  font-weight: bold;
}
.fw-n {
  font-weight: normal;
}
.fz-24 {
  font-size: 24px;
}
.fz-300 {
  font-size: 300%;
}
.h-a {
  height: auto;
}
.h-15 {
  height: 15em;
}
.h-20vw {
  height: 20vw;
}
.h-25vw {
  height: 25vw;
}
.h-50vw {
  height: 50vh;
}
.h-100vh {
  height: 100vh;
}
.jc-c {
  justify-content: center;
}
.jc-fe {
  justify-content: flex-end;
}
.jc-fs {
  justify-content: flex-start;
}
.jc-sa {
  justify-content: space-around;
}
.jc-se {
  justify-content: space-evenly;
}
.m-a {
  margin: auto;
}
.maw-maxc {
  max-width: max-content;
}
.maw-50 {
  max-width: 50%;
}
.maw-80 {
  max-width: 80%;
}
.m-1 {
  margin: 1rem;
}
.m-5px {
  margin: 5px;
}
.m-10px {
  margin: 10px;
}
.m-20px {
  margin: 20px;
}
.ml-5px {
  margin-left: 5px;
}
.mtop-2 {
  margin-top: 2rem;
}
.ov-h {
  overflow: hidden;
}
.p-\.5 {
  padding: 0.5rem;
}
.p-1 {
  padding: 1rem;
}
.p-2 {
  padding: 2rem;
}
.p-1x1 {
  padding: 1rem 1rem;
}
.p-l-2 {
  padding-left: 2rem;
}
.p-r-2 {
  padding-right: 2rem;
}
.p-tp-1 {
  padding-top: 1rem;
}
.p-tp-2 {
  padding-top: 2rem;
}
.pos-a {
  position: absolute;
}
.pos-r {
  position: relative;
}
.pr-1 {
  padding-right: 1em;
}
.ta-c {
  text-align: center;
}
.td-n {
  text-decoration: none;
}
.w-20vw {
  width: 20vw;
}
.w-25vw {
  width: 25vw;
}
.w-30vw {
  width: 30vw;
}
.w-20 {
  width: 20%;
}
.w-25 {
  width: 25%;
}
.w-50 {
  width: 50%;
}
.w-900 {
  width: 900px;
}
.w-100 {
  width: 100%;
}

@media screen and (max-width: 1000px) {
  .d-f\@sml {
    display: flex;
  }
}
